.home {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;

    @media (min-width: 571px) {
        .content {
            margin-top: 9vh;

        }

        @media (max-height: 611px) {
            .content {
                margin-top: 56px;
            }
        }
    }

}
