.membre {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;

    .content {
        display: flex;
        flex-direction: row;
    }

    h1 {
        text-align: center;
    }

    .content {
        @media (min-width: 571px) {
            margin-top: 9vh;
            height: calc(100vh - 9vh);

            @media screen and (min-height: 780px) {
                margin-top: 70px;
                height: calc(100vh - 70px);
            }

            @media screen and (max-height: 442px) {
                margin-top: 40px;
                height: calc(100vh - 40px);
            }
        }
    }

}
