.membre {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
    background: linear-gradient(270deg, $primaire, $secondaire);


    h1 {
        text-align: center;
    }

}
