@import "../../../../styles/settings.scss";

.UserInfo {
    background-color: rgba(255, 255, 255, .8);
    box-sizing: content-box;
    backdrop-filter: blur(10px);
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    transition: all .3s;
    @extend .card_shadow;

    h2 {
        text-align: center;
        font-weight: 500;
    }

    p {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input[type=text] {
        background-color: rgba(255, 255, 255, .7);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        padding: 10px;
        border: none;
        transition: all .3s;
        @extend .card_shadow;

        &::placeholder {
            font-size: 18px;
            font-weight: 300;
        }

        &:hover,
        &:focus {
            @extend .card_shadow_hover;
            transform: scale(1.005);
        }
    }


    img {
        align-self: center;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    &:hover {
        @extend .card_shadow_hover;
        transform: scale(1.005);
    }

    button {
        margin-top: 20px;
    }

    button.success {
        background-color: $success;
        margin-bottom: -10px;

        &:hover {
            background-color: $successHover;
        }
    }

    .label-file {
        cursor: pointer;
        color: white;
        font-weight: bold;
        background-color: $tertiaire;
        text-align: center;
        padding: 10px;
        border-radius: 8px;

        &:hover {
            background-color: #282c45;
        }
    }

    .input-file {
        display: none;
    }

    .error {
        text-align: center;
        background-color: $primaire;
        color: white;
        max-width: 200px;
        padding: 8px;
        border-radius: 8px;
    }

}
