@import "../../styles/settings.scss";

.usersContainer {
    position: fixed;
    width: 450px;
    height: 90vh;
    right: calc(0.5*calc(100vw - 1160px));
    overflow-y: scroll;

    @media screen and (max-width: 1160px) {
        right: 0;
    }
}

.choix {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users {

    button {
        padding: 5px;
        margin: 2px;
        font-size: 15px;
    }

    form {
        width: 100%;
    }

    input[type=text] {
        background-color: rgba(255, 255, 255, .7);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        padding: 10px;
        width: calc(100% - 20px);
        border: none;
        transition: all .3s;
        box-shadow: 0px 2px 5px rgba(15, 15, 15, .25);

        &::placeholder {
            font-size: 18px;
            font-weight: 300;
        }

        &:hover,
        &:focus {
            @extend .card_shadow;
            transform: scale(1.005);
        }
    }

    .error {
        background-color: rgb(132, 1, 203);
        padding: 5px;
        border-radius: 5px;
        color: white;
    }

    .utilisateurs {
        display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, .8);
        backdrop-filter: blur(10px);
        padding: 15px;
        margin: 20px;
        border-radius: 15px;
        max-height: 500px;
        overflow-y: scroll;
        width: 380px;
        transition: all .3s;
        @extend .card_shadow;

        &:hover {
            @extend .card_shadow_hover;
            transform: scale(1.005);
        }

        .userContainer {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-weight: 600;
                color: $tertiaire;
            }

            p {
                font-weight: 300;
                color: $tertiaire;
                font-size: 17px;
            }
        }

    }

    .margin {
        min-width: 15px;
    }

    .amis {
        display: flex;
        overflow: scroll;
        min-width: 100%
    }

    h2 {
        width: 370px;
        text-align: center;
        font-weight: 400;
        color: #7c7c85;
    }

    .btnFollow {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: all .3s;
    }

    .modifierOuSupprimer {
        background-color: transparent;
        color: $tertiaire;
        transition: all .3s;
        border-radius: 50%;
        padding: 5px 7.2px;

        &:hover {
            color: $primaire;
            @extend .card_shadow
        }
    }

    .aUserContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }

    .aUser {
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        min-width: 80px;
        max-width: 100px;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            @extend .card_shadow;
            transform: scale(1.005);
        }

        p {
            text-align: center;
            margin: 8px 0;
            font-weight: 300;
        }

        // .userCard {
        //     display: none;
        //     position: absolute;
        //     z-index: 1;
        //     bottom: 45px;
        //     width: 200px;
        //     height: 100px;
        //     background-color: rgba(255, 255, 255, .8);
        //     border-radius: 15px;
        //     backdrop-filter: blur(10px);
        //     padding: 20px;
        // }

        // &:hover .userCard {
        //     display: block;
        // }
    }

    .avatar {
        width: 50px;
        border-radius: 50%;
        transition: all .3s;
        margin: 5px;

        // &:hover {
        //     cursor: pointer;
        //     @extend .card_shadow;
        //     transform: scale(1.005);
        // }
    }
}
